nav {
    background-color: #e9e3d5;
}

.search-bar {
    padding: 5px;
    margin-top: 70px;
    margin-left: 30%;
    margin-right: 30%;
}

.search-bar input {
    border-radius: 10px;
    width: 90%;
}

.events {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px
}

.events-post {
    display: flex;
    gap: 70px;
}

.events-post img {
    height: 380px;
    width: auto;
}

.activity {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    margin-left: 50px
}

.activity-post {
    display: flex;
    gap: 70px;
}

.activity-post img {
    height: 380px;
    width: auto;
}

.container-avis {
    display: flex;
    padding: 50px 70px;
    gap: 70px;
    background-color: #e9e3d5;
    justify-content: center;
}

.avis {
    margin-top: 100px;
}

footer {
    background-color: #e9e3d5;
}